@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
  font-size: 16px;
  scroll-behavior: smooth;
}
*{
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
body{
  color: white;
  background-color: rgb(11,29,39);
  letter-spacing: 2px;
}
.btn-scroll-top{
  width: 40px;
  height: 40px;
  color: black;
  background-color: rgb(226, 226, 226);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  box-shadow: 0 0 12px 2px rgba(255, 255, 255, .5);
  z-index: 1000;

  transition: all ease .3s;
  opacity: 0;
  pointer-events: none;
}
.btn-scroll-top:hover{
  transform: scale(1.1);
}
.btn-scroll-top.active{
  opacity: 1;
  pointer-events: auto;
}

.main-header{
  height: 110vh;
  background-image: linear-gradient(to top, rgb(11,29,39), transparent 90%),
  linear-gradient(to right, rgba(11,29,39,0.4) 10%, transparent),
   url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  padding: 0 4rem;
}
a{
  color: white;
}
.main-header .main-header-nav{
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.main-header .main-header-nav p{
  font-size: 2rem;
  text-transform: uppercase;
}
.main-header .main-header-nav ul{
  display: flex;
  flex-direction: row;
}
.main-header .main-header-nav ul .last-chield-help,
.main-header .main-header-nav ul .close-menu{
  display: none;
}

.main-header .main-header-nav ul a{
  margin: 0 18px;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-header .main-header-nav div a{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-header .main-header-nav div a .fa-circle-question{
  font-size: 1.5rem;
  margin-right: 7px;
}
.main-header .main-header-nav ul a::after,
.main-header .main-header-nav div a::after{
  content: "";
  display: block;
  height: 2px;
  width: 110%;
  background-color: white;

  position: absolute;
  top: 30px;
  transform: rotate(6deg);
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}
.header-menu{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.main-header .main-header-nav ul a:hover::after,
.main-header .main-header-nav div a:hover::after{
  opacity: 1;
  transform: rotate(0);
  top: 25px;
}
.main-header .main-header-nav-2{
  height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header .main-header-nav-2 .main-header-nav-2-media a{
  margin: 7px 0;
  transition: all .2s ease;
  font-size: 1.2rem;
}
.main-header .main-header-nav-2 .main-header-nav-2-media{
  display: flex;
  flex-direction: column;
}
.main-header .main-header-nav-2 .main-header-nav-2-media a:hover{
  transform: scale(1.1);
}
.main-header .main-header-nav-2 .main-header-nav-2-title{
  width: 45rem;
}
.main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan{
  color: #e2e25c;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;  
}
.main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::before{
  content: "";
  height: 1.7px;
  width: 60px;
  background-color: #e2e25c;
  margin-right: 25px;
}
.main-header .main-header-nav-2 .main-header-nav-2-title h1{
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 500;
}
.main-header .main-header-nav-2 .title-veja-locais{
  font-size: .8rem;
  margin-top: 15px;
}
.main-header .main-header-nav-2 .title-veja-locais a i{
  font-size: 1rem;
  transition: all .5s ease;
}
.main-header .main-header-nav-2 .title-veja-locais a:hover i{
  font-size: 1.5rem;
  color: #e2e25c;
}
.main-header .main-header-nav-2 .main-header-nav-2-niveis{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-header .main-header-nav-2 .main-header-nav-2-niveis a{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;

  transition: all ease .3s;
}
.main-header .main-header-nav-2 .main-header-nav-2-niveis a::after{
  content: "";
  height: 37px;
  width: 2px;
  background-color: white;
  display: block;
  pointer-events: none;
  margin-left: 10px;
  transition: all ease .3s;
}
.main-header .main-header-nav-2 .main-header-nav-2-niveis a:hover{
  color: #ccc;
}
.main-header .main-header-nav-2 .main-header-nav-2-niveis a:hover::after{
  background-color: #ccc;
}

/* sessões */

main{
  width: 75%;
  margin: auto;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .section img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 450px;

  transition: all ease .8s;
}
main .section img:hover{
  transform: scale(1.08);
}
main .section{
  height: 590px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 115px;
  max-width: 1080px;
}
main .section-1{
  margin-top: -10rem;  
}
main .section-2{
  flex-direction: row-reverse;
}
main .section .column-1{
  position:relative;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .section .column-2{
  width: 37%;
  height: 100%;
  overflow: hidden;
}
main .section .column-1 .numero{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  top: 0;
  left: 0;
  color: rgba(57, 88, 100,0.5);
}
main .section .column-1 .article-description{
  width: 70%;
  z-index: 10;
}
main .section .column-1 .article-description .article-description-name{
  color: #e2e25c;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .section .column-1 .article-description .article-description-name::before{
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #e2e25c;
  margin-right: 15px;
}
main .section .column-1 .article-description h2{
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 15px;
}
main .section .column-1 .article-description .article-description-text{
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
main .section .column-1 .article-description a{
  color: #e2e25c;
  text-transform: uppercase;
  font-size: .7rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  margin-top: 23px;

  transition: all .3s ease-in-out;
}
main .section .column-1 .article-description a i{
  font-size: 1rem;
  margin-left: 8px;
}
main .section .column-1 .article-description a:hover{
  color: #979770;
}

/* footer */

footer{
  height: 300px;
  margin-top: 30px;
  width: 75%;
  max-width: 1080px;
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  justify-content: space-between;
  color: rgba(204, 204, 204,0.8);
}

footer .footer-column-2{
  display: flex;
  flex-direction: row;
  
}
footer .footer-column-1 .footer-logo{
  font-size: 2rem;
  text-transform: uppercase;

}
footer .footer-column-1 .footer-description{
  margin-top: 20px;
  font-size: .8rem;
  width: 20rem;
  font-family: 'Roboto', sans-serif;
}
footer .footer-column-1 .footer-right{
  margin-top: 80px;
  font-size: .9rem;
  color: rgba(204, 204, 204,0.3);
  font-family: 'Roboto', sans-serif;
}
footer .footer-column-2 ul a{
  color: rgba(204, 204, 204,0.8);
  
}
footer .footer-column-2 ul{
  margin-left: 75px;
}
footer .footer-column-2 ul a{
  display: block;
  margin-top: 15px;
  transition: all .3s ease-in-out;
}
footer .footer-column-2 ul a:hover{
  color: #979770;
}
footer .footer-column-2 ul a li{
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
}
footer .footer-column-2 ul a:first-child{
  color: rgba(226, 226, 92,0.8);
  font-size: 1.2.3rem!important;
}
.main-header .main-header-nav ul.active{
  top: 0;
  opacity: 1;
}

/* RESPONSIVO */

@media (max-width: 1176px){
  .main-header .main-header-nav-2 .main-header-nav-2-title h1{
    font-size: 2.5rem;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan{
    font-size: .9rem;
  }
  main, footer{
    width: 85%;
  }
  main .section .column-1 .article-description h2{
    font-size: 2rem;
  }
  main .section .column-1{
    width: 50%;
  }
  main .section .column-2{
    width: 40%;
  }
}
@media (max-width: 1096px){
  main .section .column-1 .article-description {
    width: 100%;
  }
  main .section .column-1 .numero{
    font-size: 8rem;
  }
  main .section .column-2{
    min-width: 348px;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title h1 {
    font-size: 2.5rem;
  }
} 

@media (max-width:1030px){
  main .section{
    flex-direction: column;
    height: 950px;
    margin-bottom: 70px;
  }
  main .section .column-1{
    width: 85%;
    height: 33%;
    justify-content: flex-end;
  }
  main .section .column-2{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title{
    text-align: center;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan{
    align-items: center;
    justify-content: center;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::after{
    content: "";
    height: 1.7px;
    width: 60px;
    background-color: #e2e25c;
    margin-left: 25px;
  }
}

@media (max-width:900px){
  .main-header .main-header-nav-2 .main-header-nav-2-title h1{
    font-size: 2rem;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title{
    width: 70%;
  }
  main .section{
    height: 900px;
  }
  main .section .column-1{
    height: 42%;
  }
  main .section .column-2{
    height: 52%;
  }
}

@media (max-width: 768px){
  .main-header{
    padding: 0 2rem;
  }
  footer .footer-column-2 ul {
    margin-left: 10px;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan{
    font-size: .7rem;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::after,
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::before{
    height: 1px;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-niveis a{
    font-size: .8rem;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-media a{
    font-size: .9rem;
  }
  .main-header .main-header-nav ul a,
  .main-header .main-header-nav div a{
    font-size: .9rem;
  }
  .main-header .main-header-nav p{
    font-size: 1.5rem;
  }
  main, footer {
    width: 95%;
  }
}

@media (max-width:620px){
  .main-header-nav .div-help{
    display: none;
  }
  .header-menu{
    display: block;
    cursor: pointer;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::before,
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::after {
    width: 40px;
  }
  .main-header .main-header-nav ul .last-chield-help,
  .main-header .main-header-nav ul .close-menu{
    display: block;
  }
  .main-header .main-header-nav ul .close-menu{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .main-header .main-header-nav ul .last-chield-help i{
    display: none;
  }
  .main-header .main-header-nav ul{    
    position: fixed;
    left: 0;    
    height: 80vh;
    top: -80vh;
    width: 100vw;
    background-color: rgba(36, 55,60,0.9);
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;

    transition: .3s ease-in-out all;
  }
  .main-header .main-header-nav ul a{
    font-size: 1.2rem;
    transition: all ease 0.5s;
  }
  .main-header .main-header-nav ul a:hover::after,
  .main-header .main-header-nav div a:hover::after{
    background-color: #b9b7b7;
  }
  .main-header .main-header-nav ul a:hover{
    color: #b9b7b7;
  }
}

@media (max-width: 584px){
  .main-header .main-header-nav-2 .main-header-nav-2-title h1{
    font-size: 1.5rem;
  }
  .main-header .main-header-nav-2{
    position: relative;
    justify-content: center;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-media {
    position: absolute;
    bottom: -15px;
    left: 0;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-niveis{
    position: absolute;
    right: 0;
    bottom: -43px;
  }
  main .section img{
    max-width: 90%;
  }
  footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
  footer .footer-column-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .footer-column-1 .footer-right{
    margin-top: 50px;
  }
  footer .footer-column-2 {
    width: 90%;
    justify-content: space-between;
    margin: 20px 0;
  }
  footer .footer-column-2 ul{
    text-align: center;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-niveis a{
    font-size: .7rem;
  }
  .main-header{
    padding: 0 1rem;
  }
  main .section .column-1 .article-description .article-description-name::before{
    width: 25px;
  }
  main .section .column-2{
    min-width: 100%;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan{
    text-shadow: 1px 1px 10px rgba(0,0,0);
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::before, 
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan::after{
    text-shadow: 1px 1px 10px rgba(0,0,0);
  }
  
}

@media (max-width: 399px){
  main .section{
    height: 1200px;
  }
  main, footer{
    width: 98%;
  }
  main .section .column-1 .article-description h2{
    font-size: 1.8rem;
  }
}

@media (max-width:324px){
  .main-header .main-header-nav-2 .main-header-nav-2-title h1{
    font-size: 1.2rem;
  }
  .main-header .main-header-nav-2 .main-header-nav-2-title .title-slogan{
    font-size: .6rem;
  }
  footer .footer-column-1 .footer-description {
    width: 100%;
  }
}